.container {
  width: 80%;
  margin: 5% auto;
}
.container h1 {
  font-size: 40px;
  color: azure;
  font-weight: bolder;
  margin-bottom: 10px;
}
.container h1 span {
  color: yellow;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}
.inputContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.inputContainer button {
  margin-left: 5px;
}

.btn:active,
.btn:focus,
.btn.active,
.btn:active:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* result */
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-direction: row;
}
.result p {
  color: white;
  margin-top: 8px;
  font-size: larger;
}
.result button {
  margin-left: 10px;
}
/* copied */
#copied {
  background-color: transparent;
}
/* noData */
.noData {
  color: white;
}
